
.headDiv{
    width: 100%;
    margin-left: 6%;
    margin-top: 18%;
    
}
.para{
    width: 35%;
    margin-left: 55%;
}
h3{
    font-size: 15px;
}

.locations{
    width: fit-content;
    color: antiquewhite;
  background-color: rgb(39, 1, 42);
}

.city{
    color: antiquewhite;
    background-color: rgb(39, 1, 42);
    width: fit-content;
    margin-top: -12px;
    
}
.state{
    color: antiquewhite;
    background-color: rgb(39, 1, 42);
    width:fit-content;
    text-align: center;
    margin-top: -12px;
    
    
}
